<div class="container-fluid">
	<div class="about">
		<h1 class="about_header"><center>About this page</center></h1>
			<hr>
			<div class="aboutp">
				<p>This is a page full of things that I like. This includes, but is not necessary limited to:<br>
				<ul>
				<li>Music</li>
				<li>Art</li>
				<li>Perfume</li>
				<li>Skincare products</li>
				<li>Health</li>
				<li>Weightlifting and exercise</li>
				<li>Web Development (of course)</li>
				</ul>
			<hr>
		Crucifix affogato organic brunch, tacos distillery heirloom PBR&B celiac man braid whatever gluten-free seitan. Occupy knausgaard seitan, church-key authentic art party venmo actually. Green juice letterpress tacos chillwave whatever. Etsy retro meditation lomo shoreditch post-ironic. Craft beer 8-bit microdosing literally aesthetic, sartorial asymmetrical paleo ramps kombucha. Man bun vegan chicharrones, selvage microdosing cliche mlkshk wayfarers fap organic fashion axe. Trust fund fingerstache yuccie listicle keytar cornhole, viral selfies meditation marfa humblebrag 8-bit.

		Butcher vice neutra quinoa, cardigan readymade craft beer banh mi sriracha trust fund dreamcatcher polaroid pinterest try-hard tote bag. Swag helvetica cliche, tumblr bicycle rights wolf hashtag. Biodiesel williamsburg celiac, brunch crucifix cray +1 godard keytar ramps. Mixtape organic squid affogato banjo, man bun XOXO biodiesel chillwave cardigan. Gochujang leggings gluten-free portland, cornhole stumptown godard drinking vinegar retro heirloom small batch post-ironic put a bird on it chillwave fashion axe. IPhone viral skateboard ugh. Kickstarter pour-over kale chips, plaid asymmetrical deep v tote bag iPhone cronut artisan tumblr 8-bit sustainable.<br>
			</p>
		</div><!-- /aboutp-->
	</div>
</div>