// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #fff;
}
h1 {
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	text-align: center;
}

b, strong {
	color: #666666;
}

.navigate-links {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}

.feet {
	background-color: #EEEEEE;
	color: #999999;
	padding: 5px;
	margin-bottom: -142px;
}

h1.title-head {
	font-size:30px;
}

.p {
	text-align: justify;
}

input.form-control {
	border: 1px solid black;
}
textarea.form-control {
	border: 1px solid black;
}
.carousel-caption {
	background-color: #FFFFFF;
	opacity: 0.4;
	color: #000000;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
}
.carousel-inner img {
  margin: auto;
}

ol.carousel-indicators {
	color: #FF0000;
}

li#menu-bar {
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
}

a.navbar-brand {
	font-family: 'Pacifico', cursive;
	font-size: 24px;
	font-weight: small-caps;
}


/* PRODUCTS */

.productslist {
	margin: auto;
	width: 80%;
}

.productname {
	font-family: 'Pacifico', cursive;
	font-size: 20px;
}

.productdesc #pdescription {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}

p#productprice {
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
}

p#averagerating {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
}

.productcolor #pcolor {
	text-align: right;
}

p.product-info {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
}

/* CONTACT */
.contactinfo {
	margin: auto;
	width: 80%;
}


/* ABOUT */

.aboutp {
	margin: auto;
	width: 50%;
}


/* LOG IN and SIGN IN */

.loginform {
	nax-width: 300px;
	padding: 15px;
	margin: 0 auto;
}
.signupform {
	margin-left: auto;
	padding: 10px;
}



/* LOG IN and SIGN IN */

p.rating-name {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

p.rating-number {
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
}

p.rating-comments {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
}