<center><h4>Sorry!</h4>
<p id="pdescription">You must be logged in to add a review.</p>
<br>
<p id="pdescription"><%= link_to('Login', new_user_session_path) %> | <%= link_to 'New User', new_user_path %></p></center>