<div class="container-fluid">
	<div class="aboutp">
		<div class="col-md-8 col-sm-12">
			<h1 class="edit_header">Edit This Product</h1>


			<%= render 'form' %>

			<%= link_to 'Show', @product %> |
			<%= link_to 'Back', products_path %>
		</div>
</div>
